.container {
  padding: 10px;
}

.table-container {
  padding: 20px;
  display: flex;
  justify-content: center;
}

.page-buttons {
  display: flex;
}

.page-buttons button {
  margin: 10px;
}

.table {
  width: 80%;
}

.table th {
  background-color: lightgray;
  border-radius: 4px;
}

.action-buttons {
  display: flex;
  justify-content: center;
}

.action-buttons button {
  margin: 0.3125rem;
}
