.container {
  padding: 10px;
}

.table-container {
  padding: 20px;
  display: flex;
  justify-content: center;
}

.table {
  width: 80%;
}

.table th {
  background-color: lightgray;
  border-radius: 4px;
}
