<h2 mat-dialog-title>{{ title }}</h2>
<mat-dialog-content class="mat-typography" disableClose="true">
  <form [formGroup]="form">
    <div class="input-container">
      <mat-form-field class="full-width" *ngIf="!!!!record.id">
        <input matInput placeholder="ID" formControlName="id" />
      </mat-form-field>
      <mat-form-field class="full-width">
        <input
          matInput
          placeholder="Nome"
          formControlName="name"
          cdkFocusInitial
        />
      </mat-form-field>
      <mat-form-field class="full-width">
        <input
          matInput
          placeholder="CPF"
          formControlName="cpf"
          type="password"
        />
      </mat-form-field>
      <mat-form-field class="full-width">
        <input
          matInput
          placeholder="Data de nascimento"
          formControlName="birthDate"
        />
      </mat-form-field>
    </div>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancelar</button>
  <button
    mat-button
    [mat-dialog-close]="form.value"
    [disabled]="form.invalid"
    type="submit"
  >
    Salvar
  </button>
</mat-dialog-actions>
